/venv
venv
.vscode
/.vscode
src/edu_pad/__pycache__/database.cpython-39.pyc
src/edu_pad/__pycache__/dataweb.cpython-39.pyc
src/edu_pad/__pycache__/dataweb.cpython-39.pyc
src/edu_pad/__pycache__/dataweb.cpython-39.pyc
src/edu_pad/__pycache__/dataweb.cpython-39.pyc
src/edu_pad/__pycache__/dataweb.cpython-39.pyc
